@model IEnumerable<ServisVozila.Models.vozilo>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create","vozilo")'">Stvaranje</button>
    @*ovo je btn za povratak na index*@
    <button type="button" onclick="location.href='@Url.Action("Index","Admin")'">Povratak</button>


</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.idKorisnik)*@
            ID korisnika
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.marka)*@
            Marka
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model)*@
            Model
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.godinaProiz)*@
            God. proizvodnje
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.boja)*@
            Boja
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.zapremina)*@
            Zapremnina[cm3]
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.nosivost)*@
            Nosivost[kg]
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.godinaReg)*@
            God. registracije
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.regBroj)*@
            Reg. broj
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idKorisnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godinaProiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zapremina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nosivost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godinaReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regBroj)
        </td>
        <td>
            @Html.ActionLink("Uređivanje", "Edit", new { id=item.idVozilo }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.idVozilo }) |
            @Html.ActionLink("Brisanje", "Delete", new { id=item.idVozilo })
        </td>
    </tr>
}

</table>
