@model ServisVozila.Models.vozilo

@{
    ViewBag.Title = "Stvaranje novog vozila";
}
<h2>PlaceHolder</h2>
<h2>Stvaranje novog vozila</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (User.IsInRole("admin"))
        {
            <div class="form-group">
                @Html.Label("Korisnik :", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <h4>
                        @Html.DropDownListFor(model => model.idKorisnik, new SelectList(ViewBag.korisnik, "idKorisnik", "idKorisnik"), "Odaberite korisnika.")
                    </h4>
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.idKorisnik ,new { Value = @ViewBag.tKorisnik })        
        }

        <div class="form-group">
            @Html.Label("Marka vozila :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.marka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Model vozila :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Godina Proizvodnje :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.godinaProiz, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.godinaProiz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Boja vozila :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.boja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.boja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zapremina vozila [ccm] :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zapremina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zapremina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nosivost vozila :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nosivost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nosivost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Godina prve registracije :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.godinaReg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.godinaReg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Registracijski broj [tablica] :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.regBroj, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.regBroj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stvori" class="btn btn-success btn-md" />
            </div>
        </div>
    </div>
}

<div>
    @if (User.IsInRole("admin"))
    {
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","servis")'">Povratak</button>
    }
    else
    {
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Index","servis")'">Povratak</button>
    }

</div>
