@model ServisVozila.Models.vozilo

@{
    ViewBag.Title = "Brisanje";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da želite obrisati ovo vozilo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.idKorisnik)*@
            ID korisnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idKorisnik)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.marka)*@
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marka)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.model)*@
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.godinaProiz)*@
            God. proizvodnje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godinaProiz)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.boja)*@
            Boja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boja)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.zapremina)*@
            Zapremnina[cm3]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zapremina)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.nosivost)*@
            Nosivost[kg]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nosivost)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.godinaReg)*@
            God. registracije
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godinaReg)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.regBroj)*@
            Reg. broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regBroj)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
