@model ServisVozila.Models.vozilo

@{
    ViewBag.Title = "Detalji o vozilu";
}
<h2>PlaceHolder</h2>
<h2>Detalji o vozilu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.idKorisnik)*@
            ID korisnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idKorisnik)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.marka)*@
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marka)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.model)*@
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.godinaProiz)*@
            God. proizvodnje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godinaProiz)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.boja)*@
            Boja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boja)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.zapremina)*@
            Zapremnina[cm3]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zapremina)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.nosivost)*@
            Nosivost[kg]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nosivost)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.godinaReg)*@
            God. registracije
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godinaReg)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.regBroj)*@
            Reg. broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.regBroj)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-info btn-md" onclick="location.href='@Url.Action("Edit", "vozilo",  new { id = Model.idVozilo })'">Uređivanje</button> 
    @if (User.IsInRole("admin"))
    {
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","vozilo")'">Povratak</button>
    }
    else
    {
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Index","vozilo")'">Povratak</button>
    }
</p>
