@model IEnumerable<ServisVozila.Models.vozilo>

@{
    ViewBag.Title = "Vozila";
}

<h2>Vozila</h2>

<p>
    @Html.ActionLink("Admin verzija", "Admin")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.marka)*@
            Marka
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model)*@
            Model
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.godinaProiz)*@
            God. proizvodnje
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.boja)*@
            Boja
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.zapremina)*@
            Zapremnina[cm3]
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godinaProiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zapremina)
        </td>
    </tr>
}

</table>
