@model IEnumerable<ServisVozila.Models.vozilo>

@{
    ViewBag.Title = "Popis vozila";
}
<h2>PlaceHolder</h2>
<h2>Popis vozila</h2>

<button type="button" class="btn btn-success btn-md" onclick="location.href='@Url.Action("Create","vozilo")'">Stvaranje</button>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.marka)*@
            Marka
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.model)*@
            Model
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.godinaProiz)*@
            God. proizvodnje
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.boja)*@
            Boja
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.zapremina)*@
            Zapremnina[cm3]
        </th>
    </tr>

@foreach (var item in Model)
{
    if (item.idKorisnik == ViewBag.tKorisnik)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.godinaProiz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.boja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zapremina)
            </td>
            <td>
                @Html.ActionLink("Uređivanje", "Edit", new { id = item.idVozilo }) |
                @Html.ActionLink("Brisanje", "Delete", new { id = item.idVozilo })
            </td>
        </tr>
    }

}

</table>

<p>
    <span class="glyphicon glyphicon-print"></span> @Html.ActionLink("Ispiši listu", "Ispisi", new
                                               {
                                                   marka = Request.QueryString["marka"],
                                                   model = Request.QueryString["model"],
                                                   boja = Request.QueryString["boja"],
                                                   regBroj = Request.QueryString["regBroj"]
                                               }, new { target = "blank" })
</p>