@{
    ViewBag.Title = "Servis vozila";
}

@model IEnumerable<ServisVozila.Models.Slider>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../Content/bjqs.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../Content/demo.css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../Content/js/bjqs-1.3.min.js"></script>
</head>
<body>
    <h2>PlaceHolder</h2>
    <div class="jumbotron">
        <center><h1>PAUP Servis</h1></center>
        <form id="form1">
            <div id="container">
                <div id="banner-fade">
                    <ul class="bjqs">
                        @foreach (var item in Model)
                        {
                            <li>
                                <img src='@Html.DisplayFor(modelItem => item.src)'
                                     title='@Html.DisplayFor(modelItem => item.title)' alt="">
                            </li>

                        }

                    </ul>
                </div>
            </div>
            <script src="../Content/js/libs/jquery.secret-source.min.js"></script>
            <script>
                jQuery(function ($) {

                    $('.secret-source').secretSource({
                        includeTag: true
                    });

                    $('#banner-fade').bjqs({
                        height: 360, /*320*/
                        width: 640, /*620*/
                        responsive: true
                    });
                });
            </script>
        </form>
    </div>
    @* KRAJ PRVOG JUMBOTRONA *@
    <div class="row">
        <div class="col-md-3">
            <center>
                <div class="jumbotron">
                    <h4>Broj korisnika:</h4>
                    <h2>@ViewBag.korisnici</h2>
                </div>
             </center>
        </div>
        <div class="col-md-3">
            <center>
                <div class="jumbotron">
                    <h4>Broj automobila:</h4>
                    <h2>@ViewBag.vozila</h2>
                </div>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <div class="jumbotron">
                    <h4>Broj obavljenih servisa:</h4>
                    <h2>@ViewBag.obavljeniServisi</h2>
                </div>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <div class="jumbotron">
                    <h4>Broj zakazanih servisa:</h4>
                    <h2>@ViewBag.neobavljeniServisi</h2>
                </div>
            </center>
        </div>
    </div>
</body>
</html>