@model IEnumerable<ServisVozila.Models.servis>

@{
    ViewBag.Title = "Popis servisa";
}
<h2>PlaceHolder</h2>
<h2>Popis servisa</h2>

<p>
    @*ovo je za stvaranje novog servisa*@
    <button type="button" class="btn btn-success btn-md" onclick="location.href='@Url.Action("Create","servis")'">Stvaranje</button>
    @*ovo je btn za povratak na index*@
    <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Index","servis")'">Povratak</button>

    @*zakomentirano jer sam stavio buttone umjesto linkova
    @Html.ActionLink("Stvaranje", "Create")
    @Html.ActionLink("Povratak", "Index")
    *@

</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.idKorisnik)*@
            ID korisnika
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.idVozilo)*@
            ID vozila
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.datum)*@
            Datum
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.opisPosla)*@
            Opis posla
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cijena)*@
            Cijena[HRK]
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.napomena)*@
            Napomena
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.obavljen)*@
            Obavljen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idKorisnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idVozilo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opisPosla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obavljen)
        </td>
        <td>
            @Html.ActionLink("Uređivanje", "Edit", new { id=item.idServis }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.idServis }) |
            @Html.ActionLink("Brisanje", "Delete", new { id=item.idServis })
        </td>
    </tr>
}

</table>
