@model ServisVozila.Models.servis

@{
    ViewBag.Title = "Stvaranje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
</head>

<body>
    <h2>PlaceHolder</h2>
    @if (User.IsInRole("admin"))
    {
        <h2>
            Administratori ne mogu stvarati nove servise.
        </h2>
    }
    else
    {
        <h2>Stvaranje novog servisa</h2>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.idKorisnik, new { Value = @ViewBag.tKorisnik })

                <div class="form-group">
                    @Html.Label("Vozilo :", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <h4>
                            @Html.DropDownListFor(model => model.idVozilo, (SelectList)ViewBag.autiKor, new { @class = "form-control" })
                        </h4>
                    </div>
                </div>

                <div class="form-group">
                        @Html.Label("Datum i vrijeme: ", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.datum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.datum, "", new { @class = "text-danger" })
                        </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#datum').datetimepicker({
                            locale: 'hr'
                        });
                    });
                </script>

                <div class="form-group">
                    @Html.Label("Opis posla: ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.opisPosla, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.opisPosla, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.cijena, new { Value = 0 })

                @Html.HiddenFor(model => model.napomena, new { Value = "" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Stvori" class="btn btn-success btn-md" />
                    </div>
                </div>
            </div>
        }

        <div>
            @if (User.IsInRole("admin"))
            {
                @*ovo je button za povratak na Admina*@
                <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","servis")'">Povratak</button>
            }
            else
            {
                <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Index","servis")'">Povratak</button>
            }

            @*stavljanje buttona umjesto linka
                @Html.ActionLink("Povratak", "Admin")
            *@
        </div>
    }

</body>
</html>