@model ServisVozila.Models.servis

@{
    ViewBag.Title = "Brisanje";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da želite obrisati ovaj servis?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.idKorisnik)*@
            ID korisnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idKorisnik)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.idVozilo)*@
            ID vozila
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVozilo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.datum)*@
            Datum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.opisPosla)*@
            Opis posla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opisPosla)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.cijena)*@
            Cijena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijena)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.napomena)*@
            Napomena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.napomena)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.obavljen)*@
            Obavljen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obavljen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-default" /> |
            <button type="button" class="btn btn-primary btn-md"  onclick="location.href='@Url.Action("Admin","servis")'">Povratak</button>
            @*
    @Html.ActionLink("Povratak", "Admin")
            *@
        </div>
    }
</div>
