@model ServisVozila.Models.servis

@{
    ViewBag.Title = "Uređivanje servisa";
}
<h2>PlaceHolder</h2>
<h2>Uređivanje servisa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idServis)

        <div class="form-group">
            @Html.Label("Korisnik :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h4>
                    @Html.DropDownListFor(model => model.idKorisnik, new SelectList(ViewBag.vozila, "idKorisnik", "idKorisnik"), "Odaberite korisnika.")
                </h4>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Vozilo :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h4>
                    @Html.DropDownListFor(model => model.idVozilo, new SelectList(ViewBag.auti, "idVozilo", "idVozilo"), "Odaberite automobil.")
                </h4>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum i vrijeme: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model =>model.datum, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.datum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Opis posla: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.opisPosla, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opisPosla, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cijena: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cijena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cijena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Napomena: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.napomena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.napomena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Obavljen: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.obavljen)
                    @Html.ValidationMessageFor(model => model.obavljen, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-success btn-md"/>
            </div>
        </div>
    </div>
}

<div>
    @*
    @Html.ActionLink("Povratak", "Admin")
    *@
    <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","servis")'">Povratak</button>
</div>
