@model IEnumerable<ServisVozila.Models.servis>

@{
    ViewBag.Title = "Servisi";
}

<h2>Servisi</h2>

<p>
    @Html.ActionLink("Admin verzija", "Admin")

    @*Ovo je button za kalendar... otvori se pa se tam moze naruciti servis *@
    @*<button type="button" class="btn">*@ @Html.ActionLink("Prijavite Servis", "Kalendar_servisa", "Kalendar") @*</button>*@
    @*Do tud :D*@

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opisPosla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obavljen)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opisPosla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obavljen)
        </td>
    </tr>
}

</table>
