@model IEnumerable<ServisVozila.Models.servis>

@{
    ViewBag.Title = "Servisi";
}

<h2>Servisi</h2>

<p>
    @*taj button je za odlazak na admin verziju*@
    <button type="button" onclick="location.href='@Url.Action("Admin","servis")'">Admin verzija</button>
    @*ovaj button je za kalendar prijavu*@
    <button type="button" onclick="location.href='@Url.Action("KalendarDogadaja","Kalendar")'">Kalendar Servisa</button>

    @* to sam zakomentiral jer ak se vam ne svidjaju buttoni onda vratimo na link verziju
    @Html.ActionLink("Admin verzija", "Admin")

    @Html.ActionLink("Kalendar Servisa", "KalendarDogadaja", "Kalendar")
    *@
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.datum)*@
            Datum
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.opisPosla)*@
            Opis posla
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.obavljen)*@
            Obavljen
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opisPosla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obavljen)
        </td>
    </tr>
}

</table>
