@model IEnumerable<ServisVozila.Models.servis>

@{
    ViewBag.Title = "Popis servisa";
}
<h2>PlaceHolder</h2>
<h2>Popis Servisa</h2>

<p>
    @*ovaj button je za kalendar prijavu*@
    <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("KalendarDogadaja","Kalendar")'">Prijava novog servisa</button>

    @* to sam zakomentiral jer ak se vam ne svidjaju buttoni onda vratimo na link verziju
    @Html.ActionLink("Admin verzija", "Admin")

    @Html.ActionLink("Kalendar Servisa", "KalendarDogadaja", "Kalendar")
    *@
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.datum)*@
            Datum
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.opisPosla)*@
            Opis posla
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.obavljen)*@
            Obavljen
        </th>
    </tr>

@foreach (var item in Model)
{
    if (item.idKorisnik == ViewBag.tKorisnik)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opisPosla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obavljen)
            </td>
        </tr>
    }
}

</table>
