<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Servis Vozila", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("O nama", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Admin Panel", "Index", "Admin")</li>

                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin")==false)
                    {
                        <li>@Html.ActionLink("Vozila", "Index", "vozilo")</li>
                        <li>@Html.ActionLink("Servisi", "Index", "servis")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

@*TO TU JE ZA GOOGLE MAPS... *@
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBofACvhZMJ5ruRTAJv4l3ML-EUvZbxhlI"></script>
<script type="text/javascript">
    @*AIzaSyBofACvhZMJ5ruRTAJv4l3ML-EUvZbxhlI*@ @*To tu je kod tj. API KEY za google maps.. pise se tu gore u zagradu*@
    $(document).ready(function () {
        initialize();
    });
    function initialize() {
        var mapOptions = {
            // ovo tu u zagradi su kordinate našeg faksa na google mapsu... tu se mjenjaju..
            center: new google.maps.LatLng(46.3920059, 16.44876959999999),
            // ovo je zoom .. logicno.. koliko blizu pokaze na pocetku..
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // to tu povezuje sa Contact.cshtml
        var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
        // create a marker
        var latlng = new google.maps.LatLng(46.3920059, 16.44876959999999);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'Naše Mjesto'
        });
    }
</script>
@*do tud je google maps :D*@