@model IEnumerable<ServisVozila.Models.korisnik>

@{
    ViewBag.Title = "Admin";
}

<h2></h2>

<p>
    @Html.ActionLink("Stvori", "Create") @Html.ActionLink("Povratak", "Index")


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biljeska)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lozinka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biljeska)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lozinka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin)
        </td>
        <td>
            @Html.ActionLink("Uređivanje", "Edit", new { id=item.idKorisnik }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.idKorisnik }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.idKorisnik })
        </td>
    </tr>
}

</table>
