@model ServisVozila.Models.ApplicationUser

@{
    ViewBag.Title = "Novi korisnik";
}

<h2>PlaceHolder</h2>
<h2>Novi korisnik</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-5">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Email:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Lozinka:", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Novi korisnik" class="btn btn-success btn-md" />
                        </div>
                    </div>
                </div>
            </div>
}
<div class="col-md-offset-1 col-md-11">
    <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","korisnik")'">Povratak</button>

    @*ovo sam zakomentiral jer sam stavil button
    @Html.ActionLink("Povratak", "Admin")
    *@
</div>
