@model ServisVozila.Models.korisnik

@{
    ViewBag.Title = "Brisanje";
}

<h2>Brisanje</h2>

<h3>Dali ste sigurni da želite obrisati ovaj servis?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.ime)*@
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.prezime)*@
            Prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.telefon)*@
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.adresa)*@
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresa)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.mail)*@
            e-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.OIB)*@
            OIB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            @*@Html.DisplayFor(model => model.biljeska)*@
            Bilješka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biljeska)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.lozinka)*@
            Lozinka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lozinka)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.grad)*@
            Lozinka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.posta)*@
            Poštanski broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posta)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.admin)*@
            Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Admin")
        </div>
    }
</div>
