@model ServisVozila.Models.ApplicationUser

@{
    ViewBag.Title = "Brisanje korisnika";
}
<h2>PlaceHolder</h2>
<h2>Brisanje korisnika</h2>

<h3>Dali ste sigurni da želite obrisati ovoga korisnika?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Lozinka (Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisanje" class="btn btn-danger btn-md"/> |
            <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","korisnik")'">Povratak</button>
            @*
              @Html.ActionLink("Povratak", "Admin")
            *@
        </div>
    }
</div>
