@model IEnumerable<ServisVozila.Models.ApplicationUser>

@{
    ViewBag.Title = "Korisnici";
}

<h2>Korisnici</h2>
<div>   
    <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("Admin","korisnik")'">Admin Verzija</button>
    @*
    @Html.ActionLink("Admin verzija", "Admin")
    *@
</div>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ime)*@
            Ime
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.prezime)*@
            Prezime
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.grad)*@
            Grad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grad)
        </td>
    </tr>
}

</table>
